.cards-spaces .card-space {
    padding: 10px 40px;
    margin-bottom: .5em;
}

.card-space .card-price-container {
    display: table-cell;
    font-style: italic;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding-left: .5rem;

}
.card-space h5 {
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    padding-bottom: .5em;
}

.not-link {
    text-decoration: none;
    color: black;
}

.not-link:hover {
    color: black;
}

.card-space .img-card-space {
    height: 15em;
}

@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}