.SpaceDetail .bg-space {
	width: 100%;
	height: 100vh;
	background-size: 100% 600px !important;
	max-height: 600px;
	background-position: center center;
	background-repeat: no-repeat !important;
	filter: blur(3px) grayscale(50%);
	-webkit-filter: blur(3px) grayscale(50%);
}

.SpaceDetail .bg-wrapper {
    position: relative;
    height: 100%;
}
.SpaceDetail .bg-wrapper > .bg-color {
    position: absolute;
    height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: 1;
    width: 100%;
    top: 0;
}

.SpaceDetail .text-wrap {
	position: absolute;
	top: 30%;
	left: 10%;
	z-index: 2;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.SpaceDetail .text-wrap > h2 {
	font-size: 4em;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	
}

.service {
    font-weight: 500;
    margin: 1em 0;
}


.gray {
    background-color: #eee;
}
.SpaceDetail .text-wrap > .price {
	font-weight: 700;
    font-style: italic;
}
.SpaceDetail .text-wrap > .price > .type {
	border-top: 2px solid white;
	padding-top: 5px;
	margin-bottom: 5px;
}

.card-price {
	background: white;
    border-radius: 20px;
    padding: 20px;
}

.card-price > .price {
	font-weight: bold;
}
