* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: static;
 
}
.video-foreground,
.video-background iframe {
  position: static;
  background-size: cover;
  
  width: 100%;
  height: 100%;
  pointer-events: none;
}


/* @media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 100%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 100%; left: -100%; }
} */
/* @media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
} */
